@model ShootingWebAgent.DataModels.TeamInput

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="TeamName"></label>
    <input asp-for="TeamName" class="form-control"/>
    <span asp-validation-for="TeamName" class="text-danger"></span>
</div>