@using Microsoft.AspNetCore.Identity
@using ShootingWebAgent.Areas.Identity.Data
@inject SignInManager<ShootingWebAgentUser> SignInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ShootingWebAgent</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link href="~/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShootingWebAgent</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial"/>
                <ul class="navbar-nav flex-grow-1">
                    @*                     @if (SignInManager.IsSignedIn(User)) *@
                    @*                     { *@
                    @*                         <li class="nav-item"> *@
                    @*                             <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Users</a> *@
                    @*                         </li> *@
                    @*                         <li class="nav-item"> *@
                    @*                             <a class="nav-link" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a> *@
                    @*                         </li> *@
                    @*                     } *@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.Administrator.ToString()))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                        </li>
                    }
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.PremiumUser.ToString()))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Match" asp-action="Index">Match</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid" style="width: 100%; margin: 0">
    @*<main role="main" class="pb-3">

        </main>*@
    @RenderBody()
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.Administrator.ToString()))
{
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="deleteModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="showError('test','test')">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="return confirmedDelete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
}

<footer class="border-top footer text-muted">
    <div class="container-fluid">
        &copy; 2020 - ShootingWebAgent - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/js/layout.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>